body {
    user-select: none;
    cursor: default;
}

#approot {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.contents {
    flex: 1;
}

.browser-logo {
    width: 128px;
}

.section.is-small {
    padding: 1.5rem;
}

.field > .field {
    margin-bottom: 0;
}

.card-footer-item.button {
    border: none;
    border-radius: 0;
    height: auto;
}

.card-footer-item.button:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

footer .tabs a {
    flex-direction: column;
}

footer .tabs .icon:first-child {
    margin-right: 0;
}

footer .tabs:not(:last-child) {
    margin-bottom: 0;
}

.footer {
    padding: 2rem 1.5rem 3rem;
}

@media (min-width: 769px) {
    .title.is-1-tablet {
        font-size: 3rem;
    }
    .subtitle.is-3-tablet {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    #quoteitems th:nth-child(3),
    #quoteitems td:nth-child(3) {
        display: none;
    }
    .footer {
        padding: 0.5rem;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 500;
    }

    .contents {
        padding-bottom: 80px;
    }
}

@media (max-width: 640px) {
    #quoteitems th:nth-child(3),
    #quoteitems td:nth-child(3),
    #quoteitems th:nth-child(5),
    #quoteitems td:nth-child(5),
    #quoteitems th:nth-child(6),
    #quoteitems td:nth-child(6) {
        display: none;
    }
}